.wall {
  background-color: green;
}

body {
  margin: 0; /* Get rid of the tiny bit of margin at the edges of the maze */
  height: 100vh; /* Make the height of the page be the same as the height of the browser window */
}

.wall:hover {
  background-color: red;
}

.row {
  height: 30px;
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.block1 {
  width: 16.7%;
}

.block2 {
  width: 33%;
}

.block3 {
  width: 50%;
}

.block4 {
  width: 66.7%;
}

.block5 {
  width: 83%;
}

.gap {
  width: 10%;
}

.endBlock {
  flex-grow: 1;
}

.bottom-controls {
  text-align: center;
  margin: 30px;
}

.top-controls {
  text-align: center;
}

